settings = {
    "vk_link": "https://vk.com/sashaaero",
    "vk_token": "your_token",
    "db": {
        "db": "db_name",
        "host": "127.0.0.1",
        "port": 3306,
        "user": "username",
        "passwd": "password",
        "provider": "mysql"
    },
    "bot_prefix": "!!"
}
